/* 第一页 */
body{overflow: hidden;margin: 0;padding: 0;}
.index_container{position:absolute; width:100%; height:100%; z-index:-1}
.img_bg1{position:fixed;width: 100%;height: 100%;}
.people_box{position:absolute;top: 615px;left: 20px;width:669px;height:301px;background:url(../images/people.png) no-repeat center;
	-webkit-animation:fadeInLeftPeople 1.5s ease both;}
	@-webkit-keyframes fadeInLeftPeople{
	0%{opacity:0;-webkit-transform:translateX(-600px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}}
.company_logo{position:absolute;top: 730px;left:3px;width:708px;height:145px;background:url(../images/company_logo.png) no-repeat center;
	-webkit-animation:fadeInLeftLogo 2s 1.5s ease both;}
	@-webkit-keyframes fadeInLeftLogo{
	0%{opacity:0;
	-webkit-transform:translateX(-600px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}}
.start{position: absolute;top: 992px;left:285px; border:1px solid #fff; border-radius:50%; text-align:center; cursor:pointer; box-shadow:0 10px 20px rgba(0,0,0,0); background-image: -webkit-gradient(linear, left top, left bottom, from(#6cc3fe), to(#fff));
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: breathe;
    -webkit-animation-duration: 2700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe {
    0% { opacity: .2; box-shadow:0 1px 2px rgba(59,235,235,1);}
    100% { opacity: 1; border:1px solid rgba(59,235,235,255); box-shadow:0px 0px 30px 5px rgba(255,235,235,255);}
}
/* 第二页 */
.secound_container{position:absolute; width:100%; height:100%; z-index:-1}
.img_bg2{position:fixed;width: 100%;height: 100%;}
.header_go{position:absolute;top: 105px;left: 20px;width:666px;height:173px;background:url(../images/header_top.png) no-repeat center;
	-webkit-animation:fadeInLeftPeople 1.5s ease both;}
	@-webkit-keyframes fadeInLeftPeople{
	0%{opacity:0;-webkit-transform:translateX(-600px)}
	100%{opacity:1;
	-webkit-transform:translateX(0)}}
.description{width: 362px;height: 180px;color: #fff;font-size: 36px;position: absolute;top:376px;right: 75px;line-height: 44px;}
.circleBtn{position: absolute;left:183px;top:332px;/* position: relative; */background: transparent;height: 578px;width: 368px;margin:220px auto;/* border-bottom-right-radius: 200px;border-bottom-left-radius: 200px;border-bottom: 5px dashed #fff;border-left:5px dashed #fff; */}
.line_before{position: absolute;left:-2px;top:16px;height: 100%;width: 100%}
.outer_circle{position: relative;}
.rotate{position: absolute;top:213px;width: 368px;height: 368px}
.rotate .outer_circle{position: absolute;left: 20px}
.color_circle{position: absolute;left:60px;top:49px;}
.rotate .click{position: absolute;left:104px;top:91px;}
.elect{display: block;height: 20px;width:8px;background:#f39b00;position: absolute;right: -10px;top:50%;margin-top: -10px;opacity: 0;}
.icon-play {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(720deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(720deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(720deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(720deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}
.otercir_bor{width: 605px;height: 605px;border:2px solid #cf3a20;position: absolute;top:95px;left:-120px;border-radius: 50%;
	-webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: shiningbor;
    -webkit-animation-duration: 3200ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes shiningbor {
    0% { opacity: .2; box-shadow:0 1px 2px #df2e1a;}
    100% { opacity: 1; box-shadow:0px 0px 10px 5px #cf3a20;}
}
.inercir_bor{width: 478px;height: 478px;border:2px solid #cf3a20;position: absolute;top:162px;left:-51px;border-radius: 50%;	-webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: shiningbor2;
    -webkit-animation-duration: 3200ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes shiningbor2 {
    0% { opacity: .2; box-shadow:0 1px 2px #cf3a20;}
    100% { opacity: 1; box-shadow:0px 0px 10px 5px #cf3a20;}
}
/* 电池充电 */
.battery_box{position: absolute;left:123px;top:300px;}
.electric_box{position: absolute;left:10px;top:33px;}
.electric_box span{display: block;width:112px;height:15px;margin: 5px auto;border:1px solid #fff; border-radius:5px; text-align:center; cursor:pointer; box-shadow:0 10px 20px rgba(0,0,0,0); background:#f39b00);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: twinkle;
    -webkit-animation-duration: 2700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes twinkle {
    0% { opacity: .2; box-shadow:0 1px 2px #f39b00;}
    100% { opacity: 1; box-shadow:0px 0px 10px 5px #f2c99a;}
}
.electric{width:112px;height:15px;background: orange;display: block;margin:5px auto;}
.pecent_num{position: absolute;top:150px;left:50px;font-size:30px;color: #fff;font-style: normal; z-index: 10000}
.bg_box{width: 100%;height: 100%;overflow: hidden;position: absolute;z-index: 1000;}
.bg_box	img{width: 100%;height: 100%;display: block;}
/* 第三页 */
.city {width: 100%; position: fixed; bottom: 50px;z-index: 100;}
.city img { width: 100%;}
#cas { width: 100%;}
